{{#description}}
    <description>{{description}}</description>{{/description}}
{{#projectUrl}}
    <properties>
        <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.43.0">
            <projectUrl>{{projectUrl}}/</projectUrl>
            {{#projectDisplayName}}
                <displayName>{{projectDisplayName}}</displayName>{{/projectDisplayName}}
        </com.coravy.hudson.plugins.github.GithubProjectProperty>
    </properties>
{{/projectUrl}}
{{#repositoryUrl}}
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.7.0">
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>{{repositoryUrl}}</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>{{branch}}</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
    </scm>
{{/repositoryUrl}}
{{#githubTrigger}}
    <triggers>
        <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.43.0">
            <spec/>
        </com.cloudbees.jenkins.GitHubPushTrigger>
    </triggers>
{{/githubTrigger}}
{{#script}}
    <builders>
        <hudson.tasks.Shell>
            <command>{{script}}</command>
        </hudson.tasks.Shell>
    </builders>
{{/script}}
