pipeline {
  agent any

  stages {
    {{#githubUrl}}
    stage('Git clone') {
      steps {
        git branch: '{{branch}}', url: '{{githubUrl}}'
      }
    }
    {{/githubUrl}}
    {{#isBuildSelected}}
    stage('Build') {
      steps {
        dir('{{#directory}}{{directory}}{{/directory}}{{^directory}}.{{/directory}}') {
          {{#Gradle}}
          sh 'chmod +x gradlew'
          sh './gradlew clean build -x test'
          {{/Gradle}}
          {{#Maven}}
          sh 'chmod +x mvnw'
          sh './mvnw clean install'
          {{/Maven}}
          {{#Maven_Wrapper}}
          sh 'chmod +x mvnw'
          sh './mvnw clean install'
          {{/Maven_Wrapper}}
         }
       }
     }
    {{/isBuildSelected}}
    {{#isTestSelected}}
    stage('Test') {
      steps {
        dir('{{#directory}}{{directory}}{{/directory}}{{^directory}}.{{/directory}}') {
          {{#Gradle}}
          sh './gradlew test'
          {{/Gradle}}
          {{#Maven}}
          sh './mvnw test'
          {{/Maven}}
          {{#Maven_Wrapper}}
          sh './mvnw test'
          {{/Maven_Wrapper}}
        }
      }
    }
    {{/isTestSelected}}
  }
  // 파이프라인 전체의 성공/실패 후 처리 정의
  post {
    success {
      echo '🎉 빌드가 성공했습니다!'
    }
    failure {
      echo '❌ 빌드가 실패했습니다!'
    }
  }
}
